* {
    font-family: "Press Start 2P";

    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-direction: column;

    background-color: #1A0B3D;

    position: relative;
}

#divToupeira {
    position: absolute;
    z-index: 0;

    bottom: 76.7vh;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
}

#divToupeira img {
    height: 150px;
    width: auto;

    mask-image: linear-gradient(
        to bottom,
        black 50%,
        transparent 60%
    );
}

#divTitle {
    display: flex;
    height: 37vh;
    width: 100vw;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
}

#divBotoes {
    display: flex;
    height: 63vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}

#titulo {
    font-size: 32px;
    color: rgb(225, 0, 135);
    text-shadow: 2px 1px rgba(68, 0, 255, 0.89);

    background-color: #1A0B3D;

    position: relative;
    z-index: 2;
}

button {
    border: 3px solid rgba(68, 0, 255, 0.89);
    border-radius: 4px;

    padding: 10px 15px;
    margin: 10px;

    background-color: rgb(225, 0, 135);
}

button:hover {
    background-color: rgb(29, 0, 109);
    border: 3px solid rgb(225, 0, 135);
    color: rgb(222, 222, 222);
}

.line {
    width: 70%;
    height: 1.5px;
    margin: 7px 0px;

    background: linear-gradient(to right, transparent, #C4157A, transparent);
}